<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" href="styles.css">
</head>
<body >
    
    <div id="visualContainer" oncontextmenu="return false;" >
            <div id="instruments" oncontextmenu="return false;">
                    
                    <div id="buttonsDiv">
                            <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                            </div>
                            <p><button class = "horBtns graphAlgoBtns" id="createnode">Создать узел</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id="createrandomribs">Создать случайные ребра</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id="createrib">Создать ребро</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id="createdirectedrib">Создать направленное ребро</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id="chooseGreenNode">Выбрать начальную вершину</button></p>
                            <p><button class = "graphAlgoBtns" id="chooseRedNode">Выбрать конечную вершину</button></p>
                            <div class="btnLikeOverlay">
                                <p>Задержка анимации<input type="range" min="1" max="100" step="1" value="5" id="animation_speed" onchange="updateSpeedVal(this.value);"><br><span id="speed_val">5 мс</span></p>
                            </div>
                            <!--<p>Cells amount by horizontal<input type="range" min="10" max="35" step="1" value="20" id="cells_amount" onchange="updateCellsAmount(this.value);"><span id="cells_amount_val">20</span><button id="updateCellsAmount">Update cells amount</button></p>-->
                            <p><button class = "horBtns graphAlgoBtns" id = "graphFloydBtn">Алгоритм Флойда-Уоршелла</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id = "graphDijkstraBtn">Алгоритм Дейкстры</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id = "graphBellmanBtn">Алгоритм Форда-Беллмана</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id = "graphDfsBtn">Поиск в глубину</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id = "graphBfsBtn">Поиск в ширину</button></p>
                            <p><button class = "horBtns graphAlgoBtns" id = "graphResetBtn">Сбросить</button></p>
                            <p><button class = "horBtns cellsAlgoBtns" id="floydBtn">Алгоритм Флойда-Уоршелла</button></p>
                            <div class = "horBtns cellsAlgoBtns btnLikeOverlay">
                                    <p><button class = "horBtns cellsAlgoBtns" id="algoa">Алгоритм A*</button></p></p>
                                    <form id="heuform">
                                        <div class="control-group">                                                
                                                        <input id="radio1" value="manhattan" type="radio" name="heuristic" checked/>
                                                        <label class="checkboxlabel" for='radio1'>Манхэттенское расстояние</label>
                                                        <input id="radio2" value="euclidean" type="radio" name="heuristic" />
                                                        <label class="checkboxlabel" for='radio2'>Евклидово расстояние</label>
                                                        <input id="radio3" value="chebyshev" type="radio" name="heuristic" />
                                                        <label class="checkboxlabel" for='radio3'>Расстояние Чебышева</label>
                                        </div>
                                    </form>
                            </div>
                            
                            <p><button class = "horBtns cellsAlgoBtns" id="dijkstraBtn">Алгоритм Дейкстры</button></p>
                            <p><button class = "horBtns cellsAlgoBtns" id="bellmanBtn">Алгоритм Форда-Беллмана</button></p>
                            <p><button class = "horBtns cellsAlgoBtns" id="dfsBtn">Поиск в глубину</button></p>
                            <p><button class = "horBtns cellsAlgoBtns" id="bfsBtn">Поиск в ширину</button></p>
                            <p><button class = "cellsAlgoBtns" id="resetBtn">Сбросить</button></p>

                    </div>
                    
                    
                </div>
            <div class="visual" id="visgraph" >
            </div>
            <div class="visual" id="viscells" >
            </div>
    </div>
    <script>
        function getRandomColor() {
            var varters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += varters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        function radToDeg (rad) { return rad / Math.PI * 180; }
        
        function transform(rib_id, ax, ay, bx, by, isUpdating)
        {
            var deg = radToDeg(Math.atan2((by-ay),(bx-ax)));
            $(rib_id).css("transform", "rotate("+(deg)+"deg)");
            if (isUpdating)
            {
                $(rib_id).offset({left: Math.min(ax,bx)-3.5, top: Math.min(ay,by)-3.5});
            }
            else {$(rib_id).offset({left: ax, top: ay});}
        }
        function updateSpeedVal(val) {
          document.getElementById('speed_val').textContent=val+" мс"; 
        }
        
        ///////////////////////////////////////////////////////////////// визуализация
        $(document).ready(function() {
            $(document).bind("contextmenu",function(e){
                return false;
            });
            $(".cellsAlgoBtns").css("display","none");
            var animation_speed;
            var visarea_height = parseFloat($("#visgraph").css("height"))-70;
            var visarea_width = parseFloat($("#visgraph").css("width")) - 30;
            var cells_amount_by_horizontal = 60;
            var cells_border= 1;
            var cell_side_length = ((visarea_width-(cells_amount_by_horizontal*cells_border*2+(cells_amount_by_horizontal-1)*cells_border*2+cells_border*2))/cells_amount_by_horizontal);
            var cells_amount_by_vertical = parseInt(visarea_height/(cell_side_length+cells_border*2));
            var visarea_final_width = cells_amount_by_horizontal*cell_side_length+cells_amount_by_horizontal*cells_border*2+(cells_amount_by_horizontal-1)*cells_border*2+cells_border*2;
            var visarea_final_height = cells_amount_by_vertical*cell_side_length+cells_amount_by_vertical*cells_border*2+(cells_amount_by_vertical-1)*cells_border*2+cells_border*2;
            $('.visual').css({"height": visarea_final_height});
            $('.visual').css({"width": visarea_final_width});
            $('#visualContainer').css({"height": visarea_final_height});
            $('#visualContainer').css({"width": visarea_final_width});
            var i;
            var cells_green_id;
            var cells_red_id;
            var isWorking = false;
            var chooseGreenNode = false;
            var chooseRedNode = false;
            mode = 0;
            $("#myonoffswitch").click(function() {
                if (mode==1)
                {
                    mode=0;
                   
                    $(".rib").css("display","block");
                    $(".rib").css("disabled", "false");
                    $(this).css("background-color", "#aaaaaa");
                    $("#cellsBtn").css("background-color", "white");
                    $(".cell").css("display","none");
                    $(".cellsAlgoBtns").css("display","none");
                    $(".node").css("display","block");
                    $(".graphAlgoBtns").css("display","block");
                    $("#viscells").animate({
                                    //height: 0,
                                    opacity: 0,
                                }, speed);
                    $("#visgcells").css("display", "none");
                    $("#visgraph").css("display", "block");
                    $("#visgraph").animate({
                                    //height: visarea_final_height,
                                    opacity: 1,
                                }, speed);
                    return;
                }
                if (mode == 0)
                {
                    mode=1;
                    $(".rib").css("display","none");
                    $(this).css("background-color", "#aaaaaa");
                    $("#graphBtn").css("background-color", "white");
                    $(".node").css("display","none");
                    $(".graphAlgoBtns").css("display","none");
                    $(".cell").css("display","block");
                    $(".cellsAlgoBtns").css("display","block");
                    $("#visgraph").animate({
                                    //height: 0,

                                    opacity: 0,
                                }, speed);
                    $("#visgraph").css("display", "none");
                    $("#viscells").css("display", "block");
                    $("#viscells").animate({
                                    //height: visarea_final_height,
                                    opacity: 1,
                                }, speed);
                }    
            })
            
            function createAboutDialog(title, src) {
                $("#visualContainer").append("<div id='about'><iframe src='"+src+"'></iframe></div>");
                
                $("#about").dialog({
                    minHeight: 450,
                    minWidth: 800,
                    hide: "blind",
                    title: title,
                    close: function(event, ui)
                    {
                        
                        $(this).dialog('destroy').remove();
                        
                    }
                }).prev(".ui-dialog-titlebar").css({
                    "border-radius": "20px 20px 0px 0px",
                    "color": "white",
                    "font-size": "16px",
                    "text-align": "center",
                    "background": "rgba(25, 70, 186, 1)"
                });
            }
            $('#graphFloydBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        graph_floyd(graph_green, graph_red);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Флойда-Уоршелла","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%94%D0%B5%D0%B9%D0%BA%D1%81%D1%82%D1%80%D1%8B");
                                        } 
                                        return true; 
                                    });
            $('#graphDijkstraBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        graph_dijkstra(graph_green, graph_red);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Дейкстры","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%94%D0%B5%D0%B9%D0%BA%D1%81%D1%82%D1%80%D1%8B");
                                        } 
                                        return true; 
                                    });
            $('#graphBellmanBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        graph_bellman_ford(graph_green);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Форда-Беллмана","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%A4%D0%BE%D1%80%D0%B4%D0%B0-%D0%91%D0%B5%D0%BB%D0%BB%D0%BC%D0%B0%D0%BD%D0%B0");
                                        } 
                                        return true; 
                                    });
            $('#graphDfsBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        graph_depth_first_search(graph_green, graph_red);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                             
                                                createAboutDialog("Поиск в глубину","https://neerc.ifmo.ru/wiki/index.php?title=%D0%9E%D0%B1%D1%85%D0%BE%D0%B4_%D0%B2_%D0%B3%D0%BB%D1%83%D0%B1%D0%B8%D0%BD%D1%83,_%D1%86%D0%B2%D0%B5%D1%82%D0%B0_%D0%B2%D0%B5%D1%80%D1%88%D0%B8%D0%BD");
                                             
                                            
                                        } 
                                        return true; 
                                    });
            $('#graphBfsBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        graph_breadth_first_search(graph_green, graph_red);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            
                                                createAboutDialog("Поиск в ширину","https://neerc.ifmo.ru/wiki/index.php?title=%D0%9E%D0%B1%D1%85%D0%BE%D0%B4_%D0%B2_%D1%88%D0%B8%D1%80%D0%B8%D0%BD%D1%83");
                                            
                                            
                                        } 
                                        return true; 
                                    });
            $('#bfsBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        breadth_first_search(cells_green_id, cells_red_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                             
                                                createAboutDialog("Поиск в глубину","https://neerc.ifmo.ru/wiki/index.php?title=%D0%9E%D0%B1%D1%85%D0%BE%D0%B4_%D0%B2_%D0%B3%D0%BB%D1%83%D0%B1%D0%B8%D0%BD%D1%83,_%D1%86%D0%B2%D0%B5%D1%82%D0%B0_%D0%B2%D0%B5%D1%80%D1%88%D0%B8%D0%BD");
                                            
                                            
                                        } 
                                        return true; 
                                    });
            $('#dfsBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        depth_first_search(cells_green_id, cells_red_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            if(e.button == 2) { 
                                                createAboutDialog("Поиск в глубину","https://neerc.ifmo.ru/wiki/index.php?title=%D0%9E%D0%B1%D1%85%D0%BE%D0%B4_%D0%B2_%D0%B3%D0%BB%D1%83%D0%B1%D0%B8%D0%BD%D1%83,_%D1%86%D0%B2%D0%B5%D1%82%D0%B0_%D0%B2%D0%B5%D1%80%D1%88%D0%B8%D0%BD");
                                            } 
                                            
                                        } 
                                        return true; 
                                    });
            $('#bellmanBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        bellman_ford(cells_green_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Форда-Беллмана","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%A4%D0%BE%D1%80%D0%B4%D0%B0-%D0%91%D0%B5%D0%BB%D0%BB%D0%BC%D0%B0%D0%BD%D0%B0");
                                        
                                            
                                        } 
                                        return true; 
                                    });
            $('#dijkstraBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        dijkstra(cells_green_id, cells_red_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Дейкстры","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%94%D0%B5%D0%B9%D0%BA%D1%81%D1%82%D1%80%D1%8B");
                                        
                                            
                                        } 
                                        return true; 
                                    });
            $('#floydBtn').bind('click', function(){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        floyd(cells_green_id, cells_red_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм Флойда-Уоршелла","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%94%D0%B5%D0%B9%D0%BA%D1%81%D1%82%D1%80%D1%8B");
                                        
                                            
                                        } 
                                        return true; 
                                    });
            $('#resetBtn').bind('click', function(){
                if(!isWorking)
                cells_reset(1);
            });
            $('#graphResetBtn').bind('click', function(){
                if(!isWorking)
                nodes_reset(1);
            });
            $('#algoa').bind('click', function(e){
                                        animation_speed = $("#animation_speed").val();
                                        if(isWorking) return;
                                        $("#instruments").slideToggle("fast");
                                        if($(e.target).is('div')){
                                            e.preventDefault();
                                            return;
                                        }
                                        a(cells_green_id, cells_red_id);
                                    })
                                    .mousedown(function(e){ 
                                        if(e.button == 2) { 
                                            createAboutDialog("Алгоритм А*","https://neerc.ifmo.ru/wiki/index.php?title=%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_A*");
                                        
                                        } 
                                        return true; 
                                    });
            $('#chooseGreenNode').bind('click', function(){
                if(!isWorking)
                chooseGreenNode = true;
                chooseRedNode = false;
                createRibMode = 0;
            }); 
            $('#chooseRedNode').bind('click', function(){
                if(!isWorking)
                chooseRedNode = true;
                chooseGreenNode = false;
                createRibMode = 0;
            });       
            $('#createrandomribs').bind('click', function(){
                if(!isWorking)
                createRandomRibs();
            }); 
            var speed = 500;
            var instruments = $("#instruments").dialog({
                title: "Инструменты",
                width: 240,
                minWidth: 240,
                closeOnEscape: false,
                resizable: false,
                position: ["right","top"],
                closeOnEscape: false,
                open: function(event, ui) {
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                }
                
            });
            instruments.prev(".ui-dialog-titlebar").css({
                "border-radius": "20px 20px 0px 0px",
                "color": "white",
                "font-size": "16px",
                "text-align": "center",
                "background": "rgba(25, 70, 186, 1)"
            })
                .mousedown(function(e){
                    if (e.button==2){
                        $("#instruments").slideToggle("fast");
                    }
                    
                });
            

        
        var nodes = [];
        var nodesLastIndex = 0;
        var ribs = [];
        var ribsLastIndex = 0;

        var createRibMode = 0;
        var firstNode = null;
        var secondNode = null;
        
        var graph_green = null;
        var graph_red = null;

        function createRandomRibs()
        {
            for (var i = 0; i<nodes.length; i++)
            {
                for (var j = 0; j<nodes.length; j++)
                {
                    if (checkExistRibs(nodes[i], nodes[j]) && !(nodes[i]==nodes[j]))
                    {
                        var accuracy = 1000;
                        var prob = Math.floor(Math.random() * accuracy);
                        var prob_k = 1 / (2 * nodes.length) * accuracy;
                        if (prob<prob_k)
                        {
                            firstNode = nodes[i];
                            secondNode = nodes[j];
                            var type;
                            if (prob<prob_k/2) type = 1;
                            else if (prob>=prob_k/2) type = 2;
                            createRib(type);
                            ribs[ribs.length-1].cost = Math.floor(Math.random() * 30);
                            if (type == 1)
                            {
                                ribs[ribs.length-1].html = '<div class="rib" id="'+ribs[ribs.length-1].id+'"><div class = "cost">'+ribs[ribs.length-1].cost+'</div></div>';
                                $("#"+ribs[ribs.length-1].id).html('<div class = "cost">'+ribs[ribs.length-1].cost+'</div>');

                            }
                            if (type == 2)
                            {
                                ribs[ribs.length-1].html = '<div class="rib" id="'+ribs[ribs.length-1].id+'"><div class = "cost">'+ribs[ribs.length-1].cost+'</div><div class = "arrow">></div></div>';
                                $("#"+ribs[ribs.length-1].id).html('<div class = "cost">'+ribs[ribs.length-1].cost+'</div><div class = "arrow">></div>');
                            } 

                        }
                    }
                }
            }
        }
        function createRib(type)
        {
            ribs.push(new Rib("rib"+ribsLastIndex, type));
            updateRibs(firstNode.id);
            ribsLastIndex++;
        }
        class Rib {
            constructor(id, type) {
                this.id = id;
                this.type = type;
                this.firstNode = firstNode;
                this.secondNode = secondNode;
                this.cost = 10;
                var self = this;
                if (type==1)
                {
                    firstNode.self_ribs.push(this);
                    secondNode.self_ribs.push(this);
                    this.html = '<div class="rib" id="'+this.id+'"><div class = "cost">'+this.cost+'</div></div>';
                }
                if (type==2)
                {
                    firstNode.self_ribs.push(this);
                    this.html = '<div class="rib" id="'+this.id+'"><div class = "cost">'+this.cost+'</div><div class = "arrow">></div></div>';
                };
                $('#visgraph').prepend(this.html);
                var ax = $('#'+firstNode.id).offset().left+20;
                var ay = $('#'+firstNode.id).offset().top+20;
                var bx = $('#'+secondNode.id).offset().left+20;
                var by = $('#'+secondNode.id).offset().top+20;
                
                var width = Math.sqrt(Math.pow(by-ay, 2)+Math.pow(bx-ax, 2));
                transform('#'+this.id, ax, ay, bx, by, false);
                $('#'+this.id).css({"color":$('#'+secondNode.id).css('background-color'),"position":"absolute","width": width, "border":"0px solid black", "height":"7px", "background":"linear-gradient(to right, "+$('#'+firstNode.id).css('background-color')+" 50%, "+$('#'+secondNode.id).css('background-color')+" 50%)"});
                $('#'+this.id).mousedown(function(e){ 
                                        
                                        if(e.button == 2) { 
                                            for (var i = 0; i<ribs.length; i++)
                                            {

                                                if (ribs[i] == self)
                                                {
                                                    $('#'+ribs[i].id).remove();
                                                    for (var j = 0; j<nodes.length; j++)
                                                    {
                                                        if ((nodes[j].id == ribs[i].firstNode.id) || (nodes[j].id == ribs[i].secondNode.id))
                                                        {
                                                            for (var k = 0; k < nodes[j].self_ribs.length; k++)
                                                            {
                                                                if (nodes[j].self_ribs[k] == ribs[i])
                                                                {
                                                                    nodes[j].self_ribs.splice(k, 1);
                                                                    k--;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    ribs.splice(i,1);
                                                    i--;
                                                }
                                            }
                                        } 
                                        return true; 
                                    })
                                .dblclick(function() {
                                    var prompt_cost = prompt("Новая стоимость ребра от 0 до 100", self.cost);
                                    if (prompt_cost != null && parseInt( prompt_cost) >= 0 && parseInt( prompt_cost) <= 100) {
                                        self.cost = parseInt( prompt_cost);
                                        if (self.type = 1)
                                        {
                                            self.html = '<div class="rib" id="'+this.id+'"><div class = "cost">'+this.cost+'</div></div>';
                                            $(this).html('<div class = "cost">'+this.cost+'</div>');

                                        }
                                        if (self.type = 2)
                                        {
                                            self.html = '<div class="rib" id="'+this.id+'"><div class = "cost">'+this.cost+'</div><div class = "arrow">></div></div>';
                                            $(this).html('<div class = "cost">'+self.cost+'</div><div class = "arrow">></div>');
                                        }                                        
                                    }
                                });                
            }            
        }
        function checkExistRibs(node1, node2)
        {
                for (var i = 0; i<ribs.length; i++)
                {

                    if ((ribs[i].firstNode == node1 && ribs[i].secondNode == node2) || (ribs[i].firstNode == node2 && ribs[i].secondNode == node1))
                    {
                        return false;
                    }
                }  
                return true;
        }
        function deleteRibs(id)
        {
            for (var i = 0; i<ribs.length; i++)
                {

                    if (ribs[i].firstNode.id == id || ribs[i].secondNode.id == id)
                    {
                        $('#'+ribs[i].id).remove();
                        for (var j = 0; j<nodes.length; j++)
                        {
                            if ((nodes[j].id == ribs[i].firstNode.id) || (nodes[j].id == ribs[i].secondNode.id))
                            {
                                for (var k = 0; k < nodes[j].self_ribs.length; k++)
                                {
                                    if (nodes[j].self_ribs[k] == ribs[i])
                                    {
                                        nodes[j].self_ribs.splice(k, 1);
                                        k--;
                                    }
                                }
                            }
                        }
                        ribs.splice(i,1);
                        i--;
                    }
                }  
        }
        function updateRibs(id) 
        {
                for (var i = 0; i<ribs.length; i++)
                {
                    if (ribs[i].firstNode.id == id || ribs[i].secondNode.id == id)
                    {
                        var ax = $('#'+ribs[i].firstNode.id).offset().left+20;
                        var ay = $('#'+ribs[i].firstNode.id).offset().top+20;
                        var bx = $('#'+ribs[i].secondNode.id).offset().left+20;
                        var by = $('#'+ribs[i].secondNode.id).offset().top+20;
                        var width = Math.sqrt(Math.pow(by-ay, 2)+Math.pow(bx-ax, 2));
                        transform('#'+ribs[i].id, ax, ay, bx, by, true);
                        $('#'+ribs[i].id).css({"position":"absolute","width": width, "border":"0px solid black", "height":"7px", "background":"#EC0B43"});
                    
                        //$('#'+ribs[i].id).css({"position":"absolute","width": width, "border":"0px solid black", "height":"7px", "background":"linear-gradient(to right, "+$('#'+ribs[i].firstNode.id).css('background-color')+" 50%, "+$('#'+ribs[i].secondNode.id).css('background-color')+" 50%)"});
                    }
                }
        }
        function deleteNode(node) {
            if (node == graph_green || node == graph_red) return;
            for (var i = 0; i<nodes.length; i++)
            {
                if (nodes[i]==node)
                {
                    $('#'+node.id).remove();
                    nodes.splice(i,1);
                    i--;
                }
            }            
        }
        class Node {
            changeType(type)
            {
                
                if (type==0)
                {
                    $("#"+this.id).css("border", "none");
                    this.type = type;
                    return;
                }
                if (type==2)
                {
                    $("#"+this.id).css("border", "4px solid green");
                    this.type = type;
                    return;
                }
                if (type==3)
                {
                    $("#"+this.id).css("border", "4px solid red");
                    this.type = type;
                    return;
                }
                if (type==4)
                {
                    if (this.type==3) {return}
                    if (this.type==2) {return}
                    this.type = type;
                    $("#"+this.id).css("border", "4px solid #aaaaaa");
                    return;
                }
                if (type==5)
                {
                    if (this.type==3) {return}
                    if (this.type==2) {return}
                    this.type = type;
                    $("#"+this.id).css("border", "4px solid orange");
                    return;
                }
                if (type==6)
                {
                    if (this.type==3) {return}
                    if (this.type==2) {return}
                    this.type = type;
                    $("#"+this.id).css("border", "4px solid black");
                    return;
                }
                this.type = type;
            }
            constructor(id) {
                this.id = id;
                this.self_ribs = [];
                this.html = '<div class="node" id="'+this.id+'"></div>';
                this.type = 0;
                this.i = null;
                var self = this;
                $('#visgraph').append(this.html);
                $('#'+this.id).draggable({ containment: "parent", scroll: false, drag: function() {updateRibs(this.id)} });
                //$('#'+this.id).css("background-color", getRandomColor());
                $('#'+this.id).css("background-color", "rgb(25, 70, 186)");
                $('#'+this.id).mousedown(function(e){ 
                                        
                                        if(e.button == 2) { 
                                            deleteRibs(this.id);
                                            deleteNode(self);

                                            return false;
                                        } 
                                        return true; 
                                    })
                                .click(function(e){ 
                                        if (chooseGreenNode && !(self.type==3)) {
                                            graph_green.changeType(0);
                                            graph_green = self;
                                            self.changeType(2);
                                            chooseGreenNode = false;
                                            return;
                                        }
                                        else if (chooseRedNode && !(self.type==2)) {
                                            graph_red.changeType(0);
                                            graph_red = self;
                                            self.changeType(3);
                                            chooseRedNode = false;  
                                            return;
                                        }
                                        if (createRibMode==1)
                                        {
                                            firstNode = self;
                                            createRibMode = 2;
                                            return false;
                                        }
                                        else if (createRibMode==2)
                                        {
                                            secondNode = self;
                                            if (!(firstNode == secondNode) && checkExistRibs(firstNode,secondNode))
                                            {
                                                createRib(createRibMode/2);
                                            }
                                            
                                            createRibMode = 0;
                                            
                                            
                                        }
                                        else if (createRibMode==3)
                                        {
                                            firstNode = self;
                                            createRibMode = 4;
                                            return false;
                                        }
                                        else if (createRibMode==4)
                                        {
                                            secondNode = self;
                                            if (!(firstNode == secondNode) && checkExistRibs(firstNode,secondNode))
                                            {
                                                createRib(createRibMode/2);
                                            }
                                            createRibMode = 0;
                                        }
                                    });
            }
        }
        
        function createNode(){
            nodes.push(new Node("node"+nodesLastIndex));
            x = Math.floor(Math.random() * $("#visgraph").width()*0.9);
            y = Math.floor(Math.random() * $("#visgraph").height()*0.9);
            $("#node"+nodesLastIndex).css({"left" : x+$("#visgraph").offset().left, "top" : y+$("#visgraph").offset().top});
            if (graph_green == null)
            {
                nodes[nodes.length-1].changeType(2);
                graph_green = nodes[nodes.length-1];
            }
            else if (graph_red == null)
            {
                nodes[nodes.length-1].changeType(3);
                graph_red = nodes[nodes.length-1];
            }
            nodesLastIndex++;
        }
        $('#createnode').click(function(){
            createNode();

        });
        createNode();
        createNode();
        $('#createrib').bind('click', function(){
            createRibMode = 1;
            chooseGreenNode = false;
            chooseRedNode = false;

        });
        $('#createdirectedrib').bind('click', function(){
            createRibMode = 3;
            chooseGreenNode = false;
            chooseRedNode = false;
        });
            //////////////////////////////////////////////////////////////////
            var cells = [];

            function getCellNodeById(id)
            {
                for (i = 0; i < cells.length; i++)
                {
                    for (j = 0; j < cells[i].length; j++)
                    if (cells[i][j].id == id)
                    {
                        return cells[i][j];
                    }
                }
            }
            var flag = 0;
            class cellNode {
                changeType(type)
                {

                    
                    if (type==0)
                    {
                        $("#"+this.id).css("background-color", "white");
                    }
                    if (type==1)
                    {
                        $("#"+this.id).css("background-color", "black");
                    }
                    if (type==2)
                    {
                        $("#"+this.id).css("background-color", "green");
                    }
                    if (type==3)
                    {
                        $("#"+this.id).css("background-color", "red");
                    }
                    if (type==4 ) 
                    {
                        if (this.type==3) {return}
                        if (this.type==2) {return}
                        $("#"+this.id).css("background-color", "#aaaaaa");
                    }
                    if (type==5)
                    {
                        if (this.type==3) {return}
                        if (this.type==2) {return}
                        $("#"+this.id).css("background-color", "orange");
                    }
                    if (type==6)
                    {
                        if (this.type==3) {return}
                        if (this.type==2) {return}
                        $("#"+this.id).css("background-color", "#555555");
                    }
                    this.type = type;
                }
                constructor (y, x) {
                    
                    var self = this;
                    this.x = x;
                    this.y = y;
                    this.id = "cell"+y+"-"+x;
                    this.type = 0; // 0 - white; 1 - black; 2 - green; 3 - red; 4 - gray
                    this.html = '<div class="cell" id="'+this.id+'"></div>';
                    
                    $('#viscells').append(this.html);
                    /*if (mode = 0)
                    {
                        $('#'+this.id).css("display","block"); 
                    }
                    else {
                        $('#'+this.id).css("display","none");
                    }*/
                    $('#'+this.id).css({"height": cell_side_length, "width": cell_side_length})
                                        .mousedown(function(e){ 
                                                if( e.button == 2 && !(self.type==2)  && !isWorking) { 
                                                    getCellNodeById(cells_red_id).changeType(0);
                                                    self.changeType(3); 
                                                    cells_red_id=self.id;
                                                    return false; 
                                                } 
                                                if( e.button == 0 && !(self.type==2) && !(self.type==3)  && !isWorking) { 
                                                    if (self.type==0)
                                                    {
                                                        self.changeType(1);
                                                        flag = 1;
                                                        return false;
                                                    }
                                                    if (self.type==1)
                                                    {
                                                        self.changeType(0);
                                                        flag = 2;
                                                        return false;
                                                    }
                                                    else {
                                                        self.changeType(1);
                                                        flag = 1;
                                                        return false;
                                                    }
                                                     
                                                } 
                                                return true; 
                                        })
                                        .mousemove(function(e){ 
                                                if(!(self.type==2) && !(self.type==3)  && !isWorking)
                                                {
                                                    if (flag==1)
                                                    {
                                                        self.changeType(1);
                                                    }
                                                    if (flag==2)
                                                    {
                                                        self.changeType(0); 
                                                    }      
                                                } 
                                        })
                                        .mouseup(function(e){ 
                                                flag = 0;
                                        })

                                        .dblclick(function () {
                                            if(!(self.type==3)  && !isWorking)
                                            {
                                                getCellNodeById(cells_green_id).changeType(0);
                                                self.changeType(2);
                                                cells_green_id=$(this).attr("id");
                                            }                                          
                                        })
                                        ;
                    $("body").mouseup(function () {flag = 0;});
                }
            }
            
            function defineSourceAndDestination(i, j)
            {
                cells_green_id = "cell0-0";
                cells[0][0].type = 2;
                $("#"+cells_green_id).css("background-color", "green");
                cells_red_id = "cell"+(i-1)+"-"+(j-1);
                cells[i-1][j-1].type = 3;
                $("#"+cells_red_id).css("background-color", "red");
            }
            function createCells()
            {
                cells = [];
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    cells[i] = [];
                    for (var j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        cells[i].push(new cellNode(i, j));
                    }
                }
                defineSourceAndDestination(i, j);
            }
            createCells();
            function getCellById(id)
            {
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    for (var j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        if (cells[i][j].id==id)
                        {
                            return cells[i][j];
                        }
                    }
                }
            }
            function cells_reset(mode)
            {
                if (mode == 1)
                {
                    for (var i = 0; i<cells_amount_by_vertical; i++)
                    {
                        for (var j = 0; j<cells_amount_by_horizontal; j++)
                        {
                            if (cells[i][j].type == 4 || cells[i][j].type==5 || cells[i][j].type==6 || cells[i][j].type==1)
                            {
                                cells[i][j].changeType(0);   
                            }
                        }
                    } 
                    
                }
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    for (var j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        if (cells[i][j].type == 4 || cells[i][j].type==5 || cells[i][j].type==6)
                        {
                            cells[i][j].changeType(0);   
                        }
                    }
                }   
            }
            function nodes_reset(mode)
            {
                if (mode==1)
                {
                    for (var i=0; i<nodes.length; i++)
                    {
                        deleteRibs(nodes[i].id);
                        if (!(nodes[i].type == 2) && !(nodes[i].type == 3))
                        {
                            deleteNode(nodes[i]);
                            i--;
                        }
                    }
                }
                for (var i=0; i<nodes.length; i++)
                {
                    if (!(nodes[i].type == 2) && !(nodes[i].type == 3))
                    {
                        nodes[i].changeType(0);
                    }
                }
            }

            function delay(cur_cell, m, type)
            {
                setTimeout(function() {cur_cell.changeType(type);}, m*animation_speed);
            }
            function show_modal(msg)
            {
                $("body").prepend(msg);
                                                    $(".msg").dialog({
                                                        modal:true,
                                                        minHeight: 200,
                                                        minWidth: 200,
                                                        hide: "blind",
                                                        title: "Поиск завершен",
                                                        draggable: false,
                                                        resizable: false,
                                                        close: function(event, ui)
                                                        {
                                                            
                                                            $(this).dialog('destroy').remove();
                                                            
                                                        }
                                                    }).prev(".ui-dialog-titlebar").css({
                                                        "border-radius": "20px 20px 0px 0px",
                                                        "color": "white",
                                                        "font-size": "16px",
                                                        "text-align": "center",
                                                        "background": "rgba(25, 70, 186, 1)"
                                                    }); 
                                                    $(".msg").css({"color": "white", "background": "rgba(25, 70, 186, 0.75", "border-radius": "0px 0px 20px 20px"});
                                                    
            }
            function trace_back(m, p)
            {
                var d = 0;
                destination_cell = getCellById(cells_red_id);
                if (!(p[destination_cell.y][destination_cell.x]==-1))
                {
                    cur_cell = destination_cell;
                    while (!(p[cur_cell.y][cur_cell.x]==-1))
                    {
                        m++;
                        d++;
                        var cur_cell = p[cur_cell.y][cur_cell.x];
                        delay(cur_cell, m, 5);                                
                    }
                    m++;
                    function isWorkingDelay()
                    {
                        setTimeout(function()   {   show_modal("<div class='msg'>Длина пути: "+d+"<br>Количество операций: "+m+"</div>"); 
                                                    isWorking=false;
                                                    $("#instruments").show("fast");
                                                }, m*animation_speed);
                    
                        //setTimeout(function() {alert("Длина пути: "+d+"\nКоличество операций: "+m); isWorking=false;$("#instruments").show("fast");}, m*animation_speed);
                    }    
                }
                else 
                {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Конечная точка недостижима из начальной!</msg>"); isWorking=false;$("#instruments").show("fast");}, m*animation_speed);
                    } 
                }
                m++;
                isWorkingDelay()
            }
            function graph_delay(cur_cell, m, type)
            {
                setTimeout(function() {cur_cell.changeType(type);}, m*10*animation_speed);
            }
            function edge_delay(edge_id, m)
            {
                setTimeout(function() {$(edge_id).css({"background" : "linear-gradient(to right, orange 50%, orange 50%)"});;}, m*10*animation_speed);
            }
            function graph_trace_back(m, p, d)
            {
                if (!(p[graph_red.i]==-1))
                {

                    cur_cell = graph_red;
                    for (var i = 0; i<ribs.length; i++)
                        {
                            if ((cur_cell == ribs[i].firstNode && p[cur_cell.i] == ribs[i].secondNode) || (cur_cell == ribs[i].secondNode && p[cur_cell.i] == ribs[i].firstNode))
                            {
                                
                                edge_delay("#"+ribs[i].id, m);
                            }
                        }  
                    while (!(p[cur_cell.i]==-1))
                    {
                        m++;
                        var cur_cell = p[cur_cell.i];
                        graph_delay(cur_cell, m, 5);
                        for (var i = 0; i<ribs.length; i++)
                        {
                            if ((cur_cell == ribs[i].firstNode && p[cur_cell.i] == ribs[i].secondNode) || (cur_cell == ribs[i].secondNode && p[cur_cell.i] == ribs[i].firstNode))
                            {
                                
                                edge_delay("#"+ribs[i].id, m);
                            }
                        }                           
                    }
                    
                    
                    m++;
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Длина пути: "+d[graph_red.i]+"<br>Количество операций: "+m+"</div>"); isWorking=false; $("#instruments").show("fast");}, m*10*animation_speed+200);
                    }    
                }
                else 
                {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Конечная точка недостижима из начальной!</msg>"); isWorking=false;$("#instruments").show("fast");}, m*10*animation_speed+200);
                    } 
                }
                m++;
                isWorkingDelay()

            }
            var inf = 10000000;
            function graph_floyd()
            {
                isWorking = true;
                var m = 0;
                nodes_reset();
                var p = [];
                var d = [];
                function isAdjacent(first, second)
                {
                    for (var i = 0; i<ribs.length; i++)
                    {
                        if ((ribs[i].firstNode == first && ribs[i].secondNode == second && ribs[i].type ==1 ) || (ribs[i].firstNode == second && ribs[i].secondNode == first))
                        return ribs[i];
                    }
                    return false;
                }
                var start;
                var finish;
                for (var i = 0; i<nodes.length; i++)
                {
                    p[i] = [];
                    d[i] = [];
                    nodes[i].i = i; 
                    updateRibs(nodes[i].id);
                    if (nodes[i] == graph_green)
                    {
                        start = i;
                    }                        
                    if (nodes[i] == graph_red)
                    {
                        finish = i;
                    }
                    for (var j = 0; j<nodes.length; j++)
                    {
                        var rib;
                        if ( rib = isAdjacent(nodes[i],nodes[j]))
                        {
                            d[i][j] = rib.cost;
                        }  
                        else {
                            d[i][j] = inf;
                        }
                        p[i][j] = -1;    
                    }
                }
                for (var k = 0; k<nodes.length; k++)
                {
                    for (var i = 0; i<nodes.length; i++)
                    {
                        for (var j = 0; j<nodes.length; j++)
                        {
                            if (d[i][k] + d[k][j] < d[i][j])
                            {
                                d[i][j] = d[i][k] + d[k][j];
                                if (!(nodes[i].type==4) && !(nodes[i].type==2) && !(nodes[i].type==3))
                                {
                                    p[i][j] = k;
                                    m++;
                                    nodes[i].type=4;
                                    graph_delay(nodes[i], m, 4);
                                }  
                                p[i][j] = k;
                            }
                        }                        
                    }
                }
                if (d[finish][start] == inf)
                {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Конечная точка недостижима из начальной!</msg>"); isWorking=false;$("#instruments").show("fast");}, m*10*animation_speed+200);
                    }   
                    isWorkingDelay();
                    return;
                }
                function findWay(finish, start)
                {
                    
                    if (!(p[finish][start]==-1))
                    {
                        m++;
                        graph_delay(nodes[p[finish][start]], m, 5);
                        findWay(finish, p[finish][start]);
                        findWay(p[finish][start], start);
                    }
                }
                findWay(finish, start);
                m++;
                function isWorkingDelay()
                {
                    setTimeout(function() {show_modal("<div class='msg'>Длина пути: "+d[finish][start]+"<br>Количество операций: "+m+"</div>"); isWorking=false; $("#instruments").show("fast");}, m*10*animation_speed+200);
                }   
                isWorkingDelay();
            }
            function floyd()
            {
                alert("В виду высокой сложности (O(n^3)) для работы данного алгоритма желательно использовать устройство с максимально производительным процессором, время на вычисления может достигать 3 минут")
                isWorking = true;       
                var m = 0;
                cells_reset();
                var p = [];
                var d = [];
                var nodes_array = [];
                function isAdjacent(first, second)
                {
                    return Math.abs(first.y-second.y)<2 && Math.abs(first.x-second.x)<2;
                }
                function isOnDiagonal(first, second)
                {
                    return Math.abs(first.y-second.y)==1 && Math.abs(first.x-second.x)==1;
                }
                var start;
                var finish;
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    for (var j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        if (!(cells[i][j].type==1))
                        {
                            nodes_array.push(cells[i][j]);
                            if (cells[i][j].id == cells_green_id)
                            {
                                start = nodes_array.length-1;
                            }
                            if (cells[i][j].id == cells_red_id)
                            {
                                finish = nodes_array.length-1;
                            }
                        }
                        
                    }
                }
                for (var i = 0; i<nodes_array.length; i++)
                {
                    d[i]=[];
                    p[i]=[];
                    for (var j = 0; j<nodes_array.length; j++)
                    {
                        if (i==j)
                        {
                            d[i][j] = 0;
                        }
                        else if (isAdjacent(nodes_array[i],nodes_array[j]))
                        {
                            if (isOnDiagonal(nodes_array[i],nodes_array[j]))
                            {
                                d[i][j] = 1.1;
                            }
                            else {
                                d[i][j] = 1;
                            }
                        }  
                        else {
                            d[i][j] = inf;
                        }
                        p[i][j] = -1;

                    }
                }
                var o=0;
                for (var k = 0; k<nodes_array.length; k++)
                {
                    for (var i = 0; i<nodes_array.length; i++)
                    {
                        for (var j = 0; j<nodes_array.length; j++)
                        {
                            if (d[i][k] + d[k][j] < d[i][j])
                            {
                                d[i][j] = d[i][k] + d[k][j];
                                o++;
                                if (!(nodes_array[i].type==4) && !(nodes_array[i].type==2) && !(nodes_array[i].type==3))
                                {
                                    p[i][j] = k;
                                    m++;
                                    
                                    nodes_array[i].type=4;
                                    delay(nodes_array[i], m, 4);
                                }  
                                p[i][j] = k;
                            }
                        }                        
                    }
                }
                if (d[finish][start] == inf)
                {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Конечная точка недостижима из начальной!</msg>"); isWorking=false;$("#instruments").show("fast");}, m*10*animation_speed+200);
                    }   
                    isWorkingDelay();
                    return;
                }
                var distance = 0;
                function findWay(finish, start)
                {
                    
                    if (!(p[finish][start]==-1))
                    {
                        m++;
                        delay(nodes_array[p[finish][start]], m, 5);
                        distance++;
                        console.log("m: "+m);
                        findWay(finish, p[finish][start]);
                        findWay(p[finish][start], start);
                    }
                }
                findWay(finish, start);
                distance++;
                m++;
                function isWorkingDelay()
                {
                    setTimeout(function() {show_modal("<div class='msg'>Длина пути: "+distance+"<br>Количество операций: "+o+"</div>"); isWorking=false; $("#instruments").show("fast");}, m*10*animation_speed+200);
                }   
                isWorkingDelay();
                
            }
            function a()
            {
                isWorking = true;
                var h = 1;
                if ($('input[name=heuristic]:checked', '#heuform').val() == "manhattan")
                {
                    h = 1;
                }
                else if ($('input[name=heuristic]:checked', '#heuform').val() == "euclidean")
                {
                    h = 3;
                }
                else {
                    h = 2;
                }
                function heuristic(v, goal)
                {
                    if (h == 1)
                    {
                        return Math.abs(v.x - goal.x) + Math.abs(v.y - goal.y);
                    }
                    else if (h == 2)
                    {
                        return Math.max(Math.abs(v.x - goal.x), Math.abs(v.y - goal.y));
                    }
                    else {
                        return Math.sqrt(Math.abs(v.x - goal.x)*Math.abs(v.x - goal.x)+Math.abs(v.y - goal.y)*Math.abs(v.y - goal.y));
                    }
                    
                }
                function getMin(queue, f, cells)
                {
                                    var min = inf;
                                    var min_cell;
                                    var index = null;
                                    var cur_cell = null;
                                    for (var ind = 0; ind<queue.length; ind++)
                                    {
                                        cur_cell = queue[ind];
                                        if (f[cur_cell.y][cur_cell.x]<min)
                                        {
                                            min = f[cur_cell.y][cur_cell.x];
                                            min_cell = cur_cell;
                                            index = ind;  
                                        }
                                    }
                                    queue.splice(index, 1);
                                    return min_cell;
                };
                var m = 0;
                cells_reset();
                var used = [];
                var p = [];
                var d = [];
                var f = []
                for (i = 0; i<cells_amount_by_vertical; i++)
                {
                    used[i] = [];
                    p[i] = [];
                    d[i] = [];
                    f[i] = [];
                    for (j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        used[i][j] = false;
                        p[i][j] = -1;
                        d[i][j] = inf;;
                        f[i][j] = inf;
                    }
                }
                var queue = [];
                var cur_cell = getCellById(cells_green_id);
                var destination_cell = getCellById(cells_red_id);
                queue.push(cur_cell);
                used[cur_cell.y][cur_cell.x] = true;
                d[cur_cell.y][cur_cell.x] = 0;
                f[cur_cell.y][cur_cell.x] = d[cur_cell.y][cur_cell.x] + heuristic(cur_cell, destination_cell);
                while(!queue.length==0)
                {
                    cur_cell = getMin(queue, f, cells);
                    
                    if (cur_cell==destination_cell)
                    {
                        trace_back(m, p);
                        return;
                    }
                    m++;
                    delay(cur_cell, m, 6);
                    
                    
                    for (i = (-1); i<2; i++)
                    {
                        for (j = (-1); j<2; j++)
                        {
                            if (cur_cell.y+i >= 0 && cur_cell.x+j >= 0 && cur_cell.y+i < cells.length && cur_cell.x+j < cells[0].length)
                            {
                                var next = cells[cur_cell.y+i][cur_cell.x+j];
                                if (!(next.type==1) && !(i==0 && j==0) && !(next.type==2))
                                {
                                    if ((i==-1 && j==-1) || (i==-1 && j==1) || (i==1 && j==-1) || (i==1 && j==1))
                                    {
                                        tentativeScore = d[cur_cell.y][cur_cell.x] + 1.1;
                                    }
                                    else {
                                        tentativeScore = d[cur_cell.y][cur_cell.x] + 1;
                                    }
                                    if (used[next.y][next.x] && tentativeScore >= d[next.y][next.x])
                                    {
                                        continue;
                                    }
                                    else 
                                    {
                                        p[next.y][next.x] = cur_cell;
                                        d[next.y][next.x] = tentativeScore;
                                        f[next.y][next.x] = d[next.y][next.x] + heuristic(next, destination_cell);
                                        if (!queue.includes(next))
                                        {
                                            queue.push(next);
                                            used[next.y][next.x] = true;
                                            m++;
                                            delay(next, m, 4);
                                        }
                                    }
                                } 
                            }    
                        } 
                    }
                }
                trace_back(m, p);
            }
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
            function graph_dijkstra()
            {
                isWorking = true;
                var m = 0;
                nodes_reset();
                var used = [];
                var p = [];
                var d = [];
                for (var i = 0; i<nodes.length; i++)
                {
                    used[i] = false;
                    p[i] = -1;
                    d[i] = inf;
                    nodes[i].i = i; 
                    updateRibs(nodes[i].id);
                }
                cur_cell = graph_green;
                d[cur_cell.i] = 0;
                for (var i = 0; i<nodes.length; i++)
                {
                    cur_cell = null;
                    for (var j = 0; j<nodes.length; j++)
                    {
                        if (!used[j] && (cur_cell == null || d[j] < d[cur_cell.i]))
                        {
                            cur_cell = nodes[j];
                            d[cur_cell.i] = d[j];
                        }
                    }
                    if (d[cur_cell.i==inf])
                    {
                        break;
                    }
                    used[cur_cell.i] = true;
                    cur_cell.self_ribs.forEach(rib => {
                        var next;
                        if (cur_cell == rib.firstNode)
                        {
                            next = rib.secondNode;
                        }
                        else { next = rib.firstNode;}
                        if (d[cur_cell.i] + rib.cost < d[next.i])
                        {
                            d[next.i] = d[cur_cell.i] + rib.cost;
                            p[next.i] = cur_cell;
                            m++;
                            graph_delay(next, m, 4);
                        }
                    });
                }
                graph_trace_back(m, p, d);
            }
            function dijkstra()
            {         
                isWorking = true;       
                var m = 0;
                cells_reset();
                var used = [];
                var p = [];
                var d = [];
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    used[i] = [];
                    p[i] = [];
                    d[i] = [];
                    for (j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        used[i][j] = false;
                        p[i][j] = -1;
                        d[i][j] = inf;
                    }
                }
                cur_cell = getCellById(cells_green_id);
                d[cur_cell.y][cur_cell.x] = 0;
                
                
                for (var i = 0; i<cells_amount_by_vertical; i++)
                {
                    for (var j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        cur_cell = null;
                        for (k = 0; k<cells_amount_by_vertical; k++)
                        {
                            for (t = 0; t<cells_amount_by_horizontal; t++)
                            {
                                if (!used[k][t] && (cur_cell==null || d[k][t] < d[cur_cell.y][cur_cell.x]))
                                {
                                    cur_cell = cells[k][t];
                                    d[cur_cell.y][cur_cell.x] = d[k][t];
                                }
                            }  
                        }
                        if (d[cur_cell.y][cur_cell.x]==inf)
                        {
                            break;
                        }
                        m++;
                        delay(cur_cell, m, 6);
                        used[cur_cell.y][cur_cell.x] = true;
                        for (var ii=-1; ii<2; ii++)
                        {
                            for (var jj=-1; jj<2; jj++)
                            {
                                if (cur_cell.y+ii >= 0 && cur_cell.x+jj >= 0 && cur_cell.y+ii < cells.length && cur_cell.x+jj < cells[0].length && !(ii==0 && jj==0) && !(cells[cur_cell.y+ii][cur_cell.x+jj].type==1))
                                {   
                                    var next = cells[cur_cell.y+ii][cur_cell.x+jj];
                                    var distance;                         
                                    if ((ii==-1 && jj==-1) || (ii==-1 && jj==1) || (ii==1 && jj==-1) || (ii==1 && jj==1))
                                    {
                                        distance = 1.1;
                                    }                                    
                                    else 
                                    {
                                        distance = 1;
                                    }
                                    if (d[cur_cell.y][cur_cell.x] + distance < d[next.y][next.x])
                                    {
                                        d[next.y][next.x] = d[cur_cell.y][cur_cell.x] + distance;
                                        p[next.y][next.x] = cur_cell;
                                        m++;                                            
                                        delay(next, m, 4);
                                    }                                    
                                }
                            }
                        }
                    }
                }                
                trace_back(m, p);
            }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////            
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            function graph_bellman_ford()
            {
                isWorking = true;
                var m = 0;
                nodes_reset();
                var d = [];
                var p = [];
                for (var i = 0; i < nodes.length; i++)
                {
                    d[i] = inf;
                    p[i] = -1;
                    nodes[i].i = i;
                    updateRibs(nodes[i].id);
                }
                cur_cell = graph_green;                
                d[cur_cell.i] = 0;
                for (var i = 0; i < nodes.length; i++)
                {
                    var changes = false;
                    for (var j = 0; j < ribs.length; j++)
                    {
                        var a = ribs[j].firstNode;
                        if (d[a.i]<inf)
                        {
                            var b = ribs[j].secondNode;
                            m++;
                            graph_delay(b, m, 4);
                            if (d[b.i]>d[a.i]+ribs[j].cost)
                            {
                                d[b.i] = d[a.i]+ribs[j].cost;
                                p[b.i] = nodes[a.i]
                                changes = true;
                            }
                        }
                        if (ribs[j].type == 1)
                        {
                            var a = ribs[j].secondNode;
                            if (d[a.i]<inf)
                            {
                                var b = ribs[j].firstNode;
                                m++;
                                graph_delay(b, m, 4);
                                if (d[b.i]>d[a.i]+ribs[j].cost)
                                {
                                    d[b.i] = d[a.i]+ribs[j].cost;
                                    p[b.i] = nodes[a.i]
                                    changes = true;
                                }
                            }
                        }
                        
                    }
                    if (!changes)
                    {
                        break;
                    }
                }
                graph_trace_back(m, p, d);
            }
            function bellman_ford()
            {
                isWorking = true;
                var m = 0;
                cells_reset();
                class Edge {
                    constructor(a, b, cost)
                    {
                        this.a = a;
                        this.b = b;
                        this.cost = cost;
                    }
                }
                var edges = []
                var d = [];
                var p = [];
                for (i = 0; i<cells_amount_by_vertical; i++)
                {
                    d[i] = [];
                    p[i] = [];
                    for (j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        d[i][j] = inf;
                        p[i][j] = -1;
                        var cur_cell = cells[i][j];
                        
                        if (cur_cell.type==1)
                        {
                            continue;
                        }
                        for (var ii=-1; ii<2; ii++)
                        {
                            for (var jj=-1; jj<2; jj++)
                            {
                                if (cur_cell.y+ii >= 0 && cur_cell.x+jj >= 0 && cur_cell.y+ii < cells.length && cur_cell.x+jj < cells[0].length && !(ii==0 && jj==0) && !(cells[cur_cell.y+ii][cur_cell.x+jj].type==1))
                                {
                                    if ((ii==-1 && jj==-1) || (ii==-1 && jj==1) || (ii==1 && jj==-1) || (ii==1 && jj==1))
                                    {
                                        edges.push(new Edge(cur_cell, cells[cur_cell.y+ii][cur_cell.x+jj], 1.1));
                                    }
                                    else 
                                    {
                                        edges.push(new Edge(cur_cell, cells[cur_cell.y+ii][cur_cell.x+jj], 1));
                                    }
                                }
                            }
                        }
                    }
                }
                cur_cell = getCellById(cells_green_id);
                d[cur_cell.y][cur_cell.x] = 0;
                for (var nadeus = 0; nadeus<cells.length*cells[0].length; nadeus++)
                {
                    var changes = false;
                    for (var i = 0; i<edges.length; i++)
                    {
                        var a = edges[i].a;
                        if (d[a.y][a.x]<inf)
                        {
                            b = edges[i].b;
                            
                                if (b.type != 4 && b.type != 2 && b.type != 3)
                                {
                                    b.type = 4;
                                    m++;
                                    delay(b, m, 4);

                                }
                                
                            
                            
                            if (d[b.y][b.x]>d[a.y][a.x]+edges[i].cost)
                            {
                                d[b.y][b.x] = d[a.y][a.x]+edges[i].cost;
                                p[b.y][b.x] = cells[a.y][a.x];
                                changes = true;
                            }       
                        }      
                    }
                    if (!changes)
                    {
                        break;
                    }
                }
                trace_back(m, p);
            }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////            
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  
            function graph_depth_first_search()
            {
                isWorking = true;
                var m = 0;
                nodes_reset();
                var color = [];
                var p = [];
                var d = [];
                for (var i = 0; i<nodes.length; i++)
                {
                    color[i] = 0;
                    p[i] = -1;
                    d[i] = inf;
                    nodes[i].i = i;
                    updateRibs(nodes[i].id);
                }
                var cur_cell = graph_green;
                d[cur_cell.i] = 0;
                function dfs(cur_cell)
                {
                    color[cur_cell.i] = 1;
                    m++;
                    graph_delay(cur_cell, m, 4);
                    cur_cell.self_ribs.forEach(rib => {
                        if (cur_cell == rib.firstNode)
                        {
                            var next = rib.secondNode;
                            
                        }
                        if (cur_cell == rib.secondNode)
                        {
                            var next = rib.firstNode;
                        }
                        if (color[next.i]==0)
                        {
                            p[next.i] = cur_cell;
                            d[next.i] = d[cur_cell.i] + rib.cost;
                            dfs(next);
                        }
                        
                    });
                    color[cur_cell.i] = 2;
                    m++;
                    
                    graph_delay(cur_cell, m, 6);
                }
                dfs(cur_cell);
                graph_trace_back(m, p, d);
                
            }
            function depth_first_search()
            {
                isWorking = true;
                var m = 0;
                cells_reset();
                var color = [];
                var p = [];
                var d = [];
                for (i = 0; i<cells_amount_by_vertical; i++)
                {
                    color[i] = [];
                    p[i] = []
                    d[i] = [];
                    for (j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        color[i][j] = 0;
                        p[i][j] = -1;
                        d[i][j] = inf;
                    }
                }
                var cur_cell = getCellById(cells_green_id);
                d[cur_cell.y][cur_cell.x] = 0;
                function dfs(cur_cell)
                {
                    color[cur_cell.y][cur_cell.x] = 1;
                    m++;
                    delay(cur_cell, m, 4);
                    for (var i=-1; i<2; i++)
                    {
                        for (var j=-1; j<2; j++)
                        {
                            if (cur_cell.y+i >= 0 && cur_cell.x+j >= 0 && cur_cell.y+i < cells.length && cur_cell.x+j < cells[0].length)
                            {
                                
                                if (color[cur_cell.y+i][cur_cell.x+j]==0 && !(cells[cur_cell.y+i][cur_cell.x+j].type==1))
                                {
                                    p[cur_cell.y+i][cur_cell.x+j] = cur_cell;
                                    d[cur_cell.y+i][cur_cell.x+j] = d[cur_cell.y][cur_cell.x] + 1;
                                    dfs(cells[cur_cell.y+i][cur_cell.x+j]);
                                }
                            }                            
                        }
                    }
                    color[cur_cell.y][cur_cell.x]=2;
                    m++;
                    delay(cells[cur_cell.y][cur_cell.x], m, 6);
                }
                dfs(cur_cell);
                if (p[destination_cell.y][destination_cell.x]==-1)
                {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg'>Конечная точка недостижима из начальной!</div>"); isWorking=false;$("#instruments").show("fast");}, m*animation_speed+200);
                    }  
                    
                }
                else {
                    function isWorkingDelay()
                    {
                        setTimeout(function() {show_modal("<div class='msg>Конечная точка достижима из начальной.<br>Количество операций: "+m+"</div>");isWorking=false;$("#instruments").show("fast");}, m*animation_speed+200);
                    }  
                }
                isWorkingDelay(); 
                
            }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////            
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
            function graph_breadth_first_search()
            {
                isWorking = true;
                nodes_reset();
                var m = 0;
                var used = [];
                var p = [];
                var d = [];
                for (var i = 0; i<nodes.length; i++)
                {
                    nodes[i].i = i;
                    used[i] = false;
                    p[i] = -1;
                    d[i] = inf;
                    updateRibs(nodes[i].id);
                }
                var queue = [];
                var cur_cell = graph_green;
                queue.push(cur_cell);
                used[cur_cell.i] = true;
                d[cur_cell.i] = 0;
                while(!queue.length==0)
                {
                    cur_cell = queue.shift();
                    cur_cell.self_ribs.forEach(rib => {
                        var next;
                        if (rib.firstNode == cur_cell)
                        {
                            next = rib.secondNode;
                        }
                        if (rib.secondNode == cur_cell)
                        {
                            next = rib.firstNode;
                        }
                        if (d[next.i] > d[cur_cell.i] + rib.cost)
                        {
                            queue.push(next);
                            d[next.i] = d[cur_cell.i] + rib.cost;
                            p[next.i] = cur_cell;
                            m++;
                            graph_delay(next, m, 4);
                        }                        
                    }); 
                }
                graph_trace_back(m, p, d);
            }       
            function breadth_first_search()
            {
                isWorking = true;
                var m = 0;
                cells_reset();
                var used = [];
                var p = [];
                var d = [];
                for (i = 0; i<cells_amount_by_vertical; i++)
                {
                    used[i] = [];
                    p[i] = [];
                    d[i] = [];
                    for (j = 0; j<cells_amount_by_horizontal; j++)
                    {
                        used[i][j] = false;
                        p[i][j] = -1;
                        d[i][j] = 1000;
                    }
                }
                var queue = [];
                var cur_cell = getCellById(cells_green_id);
                queue.push(cur_cell);
                used[cur_cell.y][cur_cell.x] = true;
                d[cur_cell.y][cur_cell.x] = 0;
                while(!queue.length==0)
                {
                    cur_cell = queue.shift();
                    m++;
                    delay(cur_cell, m, 6);
                    for (i = (-1); i<2; i++)
                    {
                        for (j = (-1); j<2; j++)
                        {
                            if (cur_cell.y+i >= 0 && cur_cell.x+j >= 0 && cur_cell.y+i < cells.length && cur_cell.x+j < cells[0].length)
                            {
                                next = cells[cur_cell.y+i][cur_cell.x+j];
                                if (!(next.type==1) && !(i==0 && j==0) && !(next.type==2))// && !used[cur_cell.y+i][cur_cell.x+j])
                                {   
                                    parent = p[next.y][next.x];
                                    if (p[next.y][next.x]==-1 || d[cur_cell.y][cur_cell.x]<d[parent.y][parent.x])
                                    {            
                                        if ((i==-1 && j==-1) || (i==-1 && j==1) || (i==1 && j==-1) || (i==1 && j==1))
                                        {
                                            d[next.y][next.x] = d[cur_cell.y][cur_cell.x]+1.1;
                                        }
                                        else {
                                            d[next.y][next.x] = d[cur_cell.y][cur_cell.x]+1;
                                        }
                                        p[next.y][next.x] = cur_cell;
                                        queue.push(next);
                                        m++;
                                        delay(next, m, 4);
                                    }                                    
                                } 
                            }    
                        } 
                    }  
                }
                trace_back(m, p);
            }
      });
    </script>

</body>