html {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Calibri;
    min-height: 100%;
    overflow: hidden;
    background-color: white;
    user-select: none;
}
#about {
    background: rgba(25, 70, 186, 0.75);
    border-radius: 0px 0px 20px 20px;
    display: block;
}


iframe {
    display: block;
    margin: auto;
    min-height: 380;
    min-width: 750;
    width: 95%;
    height: 90%;
}

#instruments button:not(#algoa) {
    background-color: #EC0B43;
    font-family: Calibri;
    color: white;
    border:2px solid #FFFFFF; 
    border-radius: 7px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    height: 25px;
    width: 200px;
    margin: auto;
    display: block;
}
.control-group input {
    visibility:hidden;
}
label.checkboxlabel {
    text-align: center;
    cursor: pointer;
    background-color: #EC0B43;
    font-family: Calibri;
    color: white;
    border:2px solid #FFFFFF; 
    border-radius: 7px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    height: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input:checked + label.checkboxlabel {
    background: #ac0819;
    transform: scale(1.1)
}
#instruments button:hover, label:hover {
    background-color: rgb(167, 10, 49);
}
#algoa {
    background-color: #EC0B43;
    font-family: Calibri;
    color: white;
    border:2px solid #FFFFFF; 
    border-radius: 7px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    height: 25px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btnLikeOverlay {
    text-align: center;
    background-color: #EC0B43;
    font-family: Calibri;
    color: white;
    border:2px solid #FFFFFF; 
    border-radius: 7px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    height: auto;
    width: 196px;
    margin: auto;
    display: block;
}
#instruments {
    
    height: auto;
    width: 240px;
    background: rgba(25, 70, 186, 0.75);
    border-radius: 0px 0px 20px 20px;
    display:none;
}



.ui-dialog  {
     background: rgba(255,255,255,0);
     border: none;
}

#visualContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    
    
}
form div {
    margin-left: auto;
    width: 200px;
    text-align: left;
}
.visual {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    
}

#visgraph {
    z-index: 50; 
    
}
.cellsAlgoBtns {
    display: none;
}
#viscells {
    opacity: 0;
}
.node {
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 50%;
    float: right;
    position: absolute;
}
p {
    color: white;
}

.cell {
    background-color: white;
    border: 1px  solid gray;
    margin: 1px;
    float: left;
    border-radius: 5px;
    display: none;
    font-size: 10px;
    text-align: center;
}
#graph, #cells {
    float: left;
}
.rib { 
    
    width: 30px;
    font-size: 50px;
    position: absolute;
    transform-origin: 0% 50%;
}
.arrow {
    right: 14px;
    font-size: 40px;
    position: absolute;
    margin-top: -24px;
}
.cost {
    left: 50%;
    font-size: 20px;
    color: black;
    position: absolute;
    margin-top: -25px;
}
.onoffswitch {
    position: relative; width: 200px;
    margin: auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 7px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Граф";
    padding-left: 10px;
    background-color: #EC0B43; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Координатная сетка";
    padding-right: 10px;
    background-color: #EC0B43; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 167px;
    border: 2px solid #FFFFFF; border-radius: 7px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}